@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply bg-background text-white;
}

.eye-scene-background {
	@apply bg-gradient-to-t from-purple-400 via-blue-600 to-blue-500;
}

.animate-triangle {
	animation: triangle-animation 30s linear infinite;
	will-change: bottom, opacity;
}

.triangle {
	@apply w-0 h-0 border-l-transparent border-b-white border-r-transparent blur-[1px] absolute;
}

@keyframes triangle-animation {
	0% {
		bottom: -15%;
		opacity: 0.2;
	}

	100% {
		bottom: 115%;
		opacity: 0;
	}
}

.animate-smooth {
	@apply transform-gpu transition-all ease-in-out;
}
