@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply bg-background text-white overflow-hidden;
}

.gradient-purple-blue {
	@apply bg-gradient-to-t from-purple-400 via-blue-600 to-blue-500;
}

.gradient-yellow-orange {
	@apply bg-gradient-to-r from-yellow-300 to-orange-500;
}

.animate-vertical {
	animation: vertical-transform 30s linear infinite;
	will-change: left, opacity;
}

.animate-horizontal {
	animation: horizontal-transform 30s linear infinite;
	will-change: left;
	opacity: 0.2;
}

.triangle {
	@apply w-0 h-0 border-l-transparent border-b-white border-r-transparent blur-[1px] absolute;
}

.circle {
	@apply w-0 h-0 rounded-full bg-white blur-[1px] absolute;
}

@keyframes vertical-transform {
	0% {
		bottom: -15%;
		opacity: 0.2;
	}

	100% {
		bottom: 115%;
		opacity: 0;
	}
}

@keyframes horizontal-transform {
	0% {
		left: -15%;
	}

	100% {
		left: 115%;
	}
}

.animate-smooth {
	@apply transform-gpu transition-all ease-in-out;
}

.h-bottom {
	height: calc(100% - 8rem);
}
